
<% if user_signed_in? && @queries.count > 0 %>
  <div class="show">
	<h2>Your Queries</h2>
		<ol>
			<% @queries.each do |query| %>
				<li><%= query.keyword %><br>
				<%= link_to 'Run Query', query_path(query.id) %> | <%= link_to 'Saved Tweets', query_tweets_path(query.id) %> | <%= link_to 'Edit', edit_query_path(query.id) %> | <%= link_to 'Delete', query_path(query.id), :method => :delete %></li>
			<% end %>
		</ol>
  </div>
<% elsif user_signed_in? %>
	<h2><%= link_to 'Create a query', new_query_path %><br>
	 to get started.</h2>
<% else %>
	<h2>Extracting needle-in-a-haystack data from Twitter for journalists and researchers.</h2>
<% end %>



